<% layout('layouts/boilerplate') %>
<form action="/campgrounds" method="POST">
    <div>
        <label for="title">Title</label>
        <!-- THE square bracket next to campground: (campground[title]) is used to ground all things passed in under campground: When the DATA IS SENT via POST request through express App (to the server) everything in the req.body will be stored under campground (IT IS USED TO GROUP CONTENT TOGETHER)-->
        <input type="text" id="title" name="campground[title]">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" id="location" name="campground[location]">
    </div>
    <button>Add Campground</button>
</form>
<a href="/campgrounds">All Campgrounds</a>
