<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <!-- use: novalidate attribute on the form in other to tell the browser not to do the validation, as boostrap will do the valiation instead, and use the JavaScript code to make it work -->
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <!-- THE square bracket next to campground: (campground[title]) is used to ground all things passed in under campground: When the DATA IS SENT via POST request through express App (to the server) everything in the req.body will be stored under campground (IT IS USED TO GROUP CONTENT TOGETHER)-->
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <!-- This used to display/hidden the info below the input field (it from boostrap) -->
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <!-- This used to display/hidden the info below the input field (it from boostrap) -->
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <!-- This used to display/hidden the info below the input field (it from boostrap) -->
                <div class="valid-feedback">Looks good!</div>   
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">£</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="price-label" name="campground[price]" required>
                    <!-- This used to display/hidden the info below the input field (it from boostrap) -->
                    <div class="valid-feedback">Looks good!</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]" required></textarea>
                <!-- This used to display/hidden the info below the input field (it from boostrap) -->
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>

