<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOILERPLATE!!!!!</title>
</head>
<body>
    <!-- THIS TAG: <%#- body  %> MUST BE USED IN THE EXACT SAME WAY  -->
    <!-- AND THEN USE THIS:<%# layout(<the path of the file in the project from when it been called>) %> (MUST BE USED IN THE EXACT SAME WAY) IN THE OTHER EJS FILEs -->
    <%- body  %>
</body>
</html>