<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <!-- loop over the campground DATA and display each one in a list -->
    <ul>
        <% for(campground of campgrounds) {%>
            <!-- Make each campground a link that when clicked on will go to the campground page -->
            <li><a href="/campgrounds/<%=campground._id  %>"><%= campground.title %></a> </li>
            
        <% } %>
    </ul>
</body>
</html>